body,
.bg-purple {
    background-color: black !important;
    color: white !important;
}

.bg-dark,
.card {
    background-color: #23252a !important;
    color: white !important;
}

.navbar {
    height: 60px;
}

.form-control {
    height: 30px;
    border: none;
}